<!--Cameron Keetch
    Assignemnt 1-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--This portion of the code brings in the favicon and links the style sheet-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <!--Here is the main content of the page.-->
    <main>
        <header>
            <h1>@ViewBag.Header</h1>
            <menu>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="CalculateGrade">Grade Calculator</a></li>
                </ul>
            </menu>
        </header>

        @RenderBody()

        <footer>Learning new things.</footer>
        

        <!--Links the JS into the assignment-->
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/js/calculateGrade.js"></script>
    </main>
</body>
</html>